.page-movies {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 800px;
}

.page-movies header .form {
  display: flex;
  flex-direction: row;
  margin: 1rem 0;
}

.page-movies header h1 {
  text-align: center;
  font-size: 28px;
}

.page-movies main {
  margin: 1rem 0;
  width: 100%;
}

.movies {
  list-style: none;
  margin: 0;
  padding: 0;
  display: grid;
  width: 100%;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 32px;
}

.movie {
  text-align: center;
}

.movie h3, .movie p {
  margin: 0;
}

.movie img {
  border-radius: 8px;
  margin-top: 8px;
}
